.logo {
  width: 90px;
  display: block;
  margin: auto;
}
.app__input_container {
  position: fixed;
  bottom: 10px;
  z-index: 99;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex !important;
  align-items: center;
  flex-direction: row;
}

.app__messages_container {
  margin: 30px 30px 80px 30px;
  /* padding: 40px; */
}

.app__inputField {
  width: 100%;
}

.app__input_container .app__inputField {
  flex: 1;
  width: 100%;
  margin-left: 30px;
  background-color: rgb(221, 222, 223);
  padding: 8px;
  border-radius: 10px;
}
.app__input_container button {
  flex: 0;
  margin-right: 30px;
}
